@{
    ViewData["Title"] = "Cart";
}

<!-- Views/Shared/_Layout.cshtml or any other Razor view -->
<!DOCTYPE html>
<html>
<head>
    <!-- Other head elements -->
</head>
<body>

    <style>

    </style>

    <!-- Your content -->

    <div>

        <div class="row">
            <div class="col-md-12 py-5 bg-light text-center"> 
                <img src="~/images/cart.jpeg" alt="d1" /> 
                <h4 class="p-3 display-5">Your Cart is Empty</h4>
                <a href="/" class="btn btn-outline-dark mx-4">
                    <i class="fa fa-arrow-left"></i> Continue Shopping
                </a>
            </div>
        </div>
    </div>

        


</body>
</html>

