@{
    ViewData["Title"] = "Gold Jewellery";
}

<!-- Views/Shared/_Layout.cshtml or any other Razor view -->
<!DOCTYPE html>
<html>
<head>
    <!-- Other head elements -->
</head>
<body>

    <style>
        .add-to-cart {
            display: block;
            margin-top: 100px;
            background-color: skyblue; /* Example color */
            color: #fff;
            padding: 5px 20px;
            text-decoration: none;
            border-radius: 15px; /* Adjust the value as needed for the desired roundness */
        }


            /* Hover effect for add to cart button */
            .add-to-cart:hover {
                background-color: #020911; /* Darker shade of the button color */
            }

        }

        button[type="submit"] {
            width: 100%;
            padding: 100px;
            margin-top: 10px;
            background-color: skyblue;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button[type="submit"]:hover {
                background-color: skyblue;
            }
    </style>

    <!-- Your content -->
    <div>

        <button type="submit" class="btn btn-primary">Continue Booking</button>

        <br />
        <br />
        <h4>I don't like me Empty. Please fill me with some awesome stuff.</h4>
    </div>
    <!-- More content -->




</body>
</html>

